*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}


.container{
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.content{
    margin-top: 50px;
    /* background-color: blue; */
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
}

.content h2{
    font-size: 35px;
    font-weight: 700;
    font-family: Helvetica;
    line-height: 2.8rem;
}

.content p{
    font-size: 20px;
    font-weight: 500;
    font-family: Arial;
    color: rgba(37,37,37, 0.85);
    line-height: 2rem;
}

.content button{
    background-color: #252529;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.images{
    /* border:2px solid black; */
    width: 600px;
    height: 400px;
    display: flex;
    gap: 10px;
    position: relative;
}

.image1 img{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 30px;
    width: 300px;
    /* background-image: url('https://images.unsplash.com/photo-1506749841726-3df2e72b9564?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 280px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

.image2 img{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 150px;
    /* background-image: url('https://images.unsplash.com/photo-1506749841726-3df2e72b9564?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 280px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

.titles{
    grid-column: 1 /span2;
    background-color: #252522;
    margin-right: 35px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.title{
    padding: 2rem 4.5rem;
    text-align: center;
}

.title h4{
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}

.title p{
    font-size: 14px;
    color: white;
    font-weight: 200;
}

.title i{
    font-size: 25px;
    border: none;
    color: #d3d3dd;
}